<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.yhsj.update">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".service.DownloadService"></service>
    </application>

</manifest>
